.navbar{

}
.navbar-inverse .navbar-brand{
	font-size: 20px;
	font-family:  'Anton', sans-serif;
	color: white; 
	border:2px white solid;
	border-radius: 100px;

} 
.navbar-inverse  .navbar-brand:hover{
	color: black;
	background: white;
	transition:0.4s;
}

.navbar-nav li{

}
