*{
	margin:  0;
	padding: 0;
}

/*---------HEADER----------*/ 

.container-fluid li{
font-weight: bold;
font-size: 15px;
color:  grey;
letter-spacing: 1px;
padding-right: 5px;
} 

.navbar-brand img{
	border-radius: 200px;
	position: absolute;
}

.navbar-brand img:hover{
	transition: 0.3s;
	opacity: 0;
} 

.navbar-default .navbar-nav li a:hover{
	transition:0.3s;
	color: white;
}

img{
 	 top: 0px;
 	 left: 0px;
 }

.navbar-default{
	background:  transparent;
	border-color: #ffffff; 
	border:0;
	margin:0;
	position: absolute;
	width:100%;
}
.navbar-default .navbar-collapse{
	border-color:transparent;
}


/*--------ABOUT US----------*/
.Hisaab{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	margin-top: 40px;
	background-color: #dedbcc;
	border-radius: 20px;
	padding: 50px;

}

/*--------Main------------*/

.row{
	position: relative;
	top: 20px;
	margin: auto;
}

.col-md-3{
	text-align: center;
}
